db_data/
example.db
testing.db
*.egg-info
*.pyc
.env
.venv/
venv/
__pycache__/
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/
coverage.xml
example/
.vscode/
.uploads
test.db
coverage.xml
.ruff_cache/
site/